@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
font: normal normal 13px/16px "Open Sans", sans-serif;
background: #A4C3B2;
}

.container{
padding: 20px;
width: 300px;
margin: 0 auto;
margin-top: 55px;
background: #84AE98;
text-align: center;
border-radius: 55px;}

form {
display: inline-block;
}

input{
padding: 4px 15px 4px 5px;
}

.button{
display: inline-block;
border-radius: 55px;
text-align:center;
margin-top:2px;
padding: 500px 1500px;
}

.button:hover{
cursor: pointer;
opacity: .8;}

ol {padding-left: 20px;}

ol li {padding: 5px;color:#000;}

ol li:nth-child(even){background: #6B9E86;}

.strike{text-decoration: line-through;}

li:hover{
  cursor: pointer;
 }

.delete {
	display: none;
}

li > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #203129;
	font-weight: 800;
}
